.vscode

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.d

# Debug files
*.dSYM/

.DS_Store
.dmake/
.settings/
artifacts/
build/
test/Build

Build_Creator
src/micro-psoc4100s-cap-touch/PsocCreator/*.cydsn/codegentemp/
src/micro-psoc4100s-cap-touch/PsocCreator/*.cydsn/Export/
src/micro-psoc4100s-cap-touch/PsocCreator/*.cydsn/CortexM0p/
src/micro-psoc4100s-cap-touch/PsocCreator/dustice.cywrk.*
src/micro-psoc4100s-cap-touch/PsocCreator/ComponentUpdateLog.txt

src/micro-psoc4100s-cap-touch/PsocCreator/*.cydsn/codegentemp/
src/micro-psoc4100s-cap-touch/PsocCreator/*.cydsn/Export/
src/micro-psoc4100s-cap-touch/PsocCreator/*.cydsn/CortexM0p/
src/micro-psoc4100s-cap-touch/PsocCreator/dustice.cywrk.*
src/micro-psoc4100s-cap-touch/PsocCreator/ComponentUpdateLog.txt

src/*/PsocCreator/*.cydsn/codegentemp/
src/*/PsocCreator/*.cydsn/Export/
src/*/PsocCreator/*.cydsn/CortexM0p/
src/*/PsocCreator/*.cywrk.*
src/*/PsocCreator/ComponentUpdateLog.txt
