.vscode

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.d

# Debug files
*.dSYM/

.DS_Store
.dmake/
.settings/
artifacts/
build/
test/Build

Build_Creator
src/*/PsocCreator/*.cydsn/codegentemp/*
!src/*/PsocCreator/*.cydsn/codegentemp/*.svd
src/*/PsocCreator/*.cydsn/Export/
src/*/PsocCreator/*.cydsn/CortexM0p/
src/*/PsocCreator/*.cywrk.*
src/*/PsocCreator/ComponentUpdateLog.txt
REBUILD.log
BUILD.log
*.cyprj.*

src/*/e2Studio/HardwareDebug
src/*/e2Studio/trash
src/*/e2Studio/QE-Touch/*.log
